
@font-face {
  font-family: 'iconfont';  /* project id 776839 */
  src: url('//at.alicdn.com/t/font_776839_ks93b2kkz1m.eot');
  src: url('//at.alicdn.com/t/font_776839_ks93b2kkz1m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_776839_ks93b2kkz1m.woff') format('woff'),
  url('//at.alicdn.com/t/font_776839_ks93b2kkz1m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_776839_ks93b2kkz1m.svg#iconfont') format('svg');
}

.ivu-icon {
  font-family:"iconfont" !important;
}

.i-icon {
  display: inline-block;
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ivu-icon-refresh:before { content: "\e607"; }
